@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none;
    text-decoration: none;
    color: black;
}

:root {
    --color1: #8E2424;
    --color2: #667085;
}

body {
    min-height: 100vh;
}

header {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px;   
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo img {
    width: 16px;
    height: 16px;
}

.logo h1 {
    font-size: 14px;
}

.menu-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-nav ul {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    gap: 20px;  
}

.menu-nav ul li a{
    color: rgba(0, 0, 0, 0.6);
    font-weight: normal;
}

.menu-nav ul li a:hover {
    color: black;
    text-decoration: underline;
}

.auth {
    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 13px;
}

.login {
    font-weight: bold;
    color: var(--color2);
}

.login:hover {
    color: black;
}

.register {
    color: white;
    background-color: var(--color1);

    padding: 8px 12px;
    border-radius: 5px;
}

.register:hover {
    background-color: #b32c2c;
}

.menu-icon {
    width: 20px;
    height: 3px;
    border-radius: 2px;
    background-color: rgb(0, 0, 0);
}

.menu-burger {
    display: flex;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
    padding: 5px;
    display: none;
}

/* Content*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* About us Section*/

.hero {
    width: 50vw;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.hero-subtitle {
    color: var(--color1);
    font-size: 0.9rem;
    font-weight: bold;
}

.hero-title {
    font-size: 48px;
}

.hero p {
    width: 90%;
    display: block;
    color: var(--color2);
}

/* Stats Section */




/* Pattern */



.stats-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: #8E2424; */
    gap: 40px;
    padding: 10px;
    margin-bottom: 40px;
}


/* Child */

.stats-item {
    max-width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    
    /* background-color: #819ace;    */
}


.stats-item h3{
    font-size: 2.5rem;
    color: var(--color1);
}

.stats-item p {
    font-size: 1rem; 
}

.stats-strong-p {
    font-weight: bold;
    margin-bottom: 10px;
}


.stats-description {    
    color: var(--color2);
}

.vagas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-vagas {
    text-align: center;
    padding: 10px;
    /* background-color: #8E2424; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;  
    margin: 20px 0px;
}

.container-vagas p:first-child {
    color: var(--color1);
    background-color: #ffe6e6;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 0.7rem;
}

.container-vagas p{
    color: var(--color2);
}

.container-vagas img {
    width: 50vw; 
    padding: 20px 0px;
}

.vagas-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}


.container-areas {
    min-width: 40vw;
    min-height: 100px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    margin: 20px 0px; 
}

.container-areas h4 {
    margin-bottom: 20px;
    color: rgb(85, 85, 85);
}

.container-areas p, span {
    color: var(--color2);
    font-size: 0.75rem;
    
}

.word-space {
    margin-right: 15px;
}




@media (max-width: 1230px) {
    .hero {
        width: 70vw;
    }

    .stats-list {
        width: 65vw;
    }



    .container-vagas img {
        width: 70vw; 
}

    
}


@media (max-width: 865px) {

    header {
        justify-content: space-between;
        padding: 0px 20px;
        flex-wrap: wrap;
        
    }

    .menu-nav ul, .auth {
        display: none;
    }

    .menu-burger {
        display: flex;
    }

    .hero {
        width: 80vw;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .hero-title {
        font-size: 2rem;
    }
    .hero p {
        font-size: 1rem;
    }

    .stats-list {
        width: 90vw; 
        
    }

    .container-vagas img {
        width: 85vw; 
    }

}

@media (max-width: 611px) {

    .stats-list {
        text-align: center;  
    }  
}

