@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none;
    text-decoration: none;
    color: black;
}

:root {
    --color1: #8E2424;
    --color2: #667085;
}

body {
    min-height: 100vh;
}

header {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;  
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    gap: 10vw;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo img {
    width: 1rem;
    height: 1rem;
}

.menu-nav {
    display: flex;
    align-items: center;
    gap: 10vw;
}

.menu-nav ul {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    gap: 2rem;  
}

.menu-nav ul li a{
    color: rgba(0, 0, 0, 0.6);
    font-weight: normal;
}

.menu-nav ul li a:hover {
    color: black;
    text-decoration: underline;
}



/* --------------Menu Auth--------------- */

.auth {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 13px;
}

.login {
    font-weight: bold;
    color: var(--color2);
}

.login:hover {
    color: black;
}

.register {
    color: white;
    background-color: var(--color1);

    padding: 8px 12px;
    border-radius: 5px;
}

.register:hover {
    background-color: #b32c2c;
}

/* ----------- end Menu Auth ---------------- */

/*  MENU MOBILE */


/* Content*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* HERO SECTION */

.container-hero {
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-hero {
    background-color: #667085;
    background-image: url(../src/img/hero-banner2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;  
}

.hero-content{
    text-align: center;
    padding: 16px;
}

.hero-title {
    color: white;
    font-size: 4rem;
    margin-bottom: 10px;
}

.hero-subtitle {
    color: white;
}

/* About us Section*/

.section-about {
    width: 50vw;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin-bottom: 40px;
    
}

.about-subtitle {
    color: var(--color1);
    font-size: 0.9rem;
    font-weight: bold;
}

.about-title {
    font-size: 48px;
}

.about-description {
    width: 90%;
    display: block;
    color: var(--color2);
}


/* Stats Section */


.section-stats {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.stats-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: #8E2424; */
    gap: 40px;
    padding: 10px;
    margin-bottom: 40px;
}


/* Child */

.stats-item {
    max-width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    
    /* background-color: #819ace;    */
}


.stats-item h3{
    font-size: 2.5rem;
    color: var(--color1);
}

.stats-item p {
    font-size: 1rem; 
}

.stats-strong-p {
    font-weight: bold;
    margin-bottom: 10px;
}


.stats-description {    
    color: var(--color2);
}

.section-vagas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-vagas {
    text-align: center;
    padding: 10px;
    /* background-color: #8E2424; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;  
    margin: 20px 0px;
}

.small-text {
    color: var(--color1);
    background-color: #C3191908;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 0.7rem;
}

.container-vagas p:nth-child(3){
    color: var(--color2);
}

.container-vagas img {
    width: 50vw; 
    padding: 20px 0px;
}

.vagas-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}


.container-areas {
    min-width: 40vw;
    min-height: 100px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    margin: 20px 0px; 
}

.container-areas h4 {
    margin-bottom: 20px;
    color: rgb(85, 85, 85);
}

.container-areas p, span {
    color: var(--color2);
    font-size: 0.75rem;
    
}

.word-space {
    margin-right: 15px;
}

.section-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C3191908;
    gap: 20px;
    padding: 20px 40px;
    width: 50vw;
}

.feedback-container {
    text-align: center;
}

.feedback-container:nth-child(1) p:nth-child(2) {
    font-size: 1.6rem;
}

.feedback-container:nth-child(2) img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.feedback-container:nth-child(2) p{
    font-size: 0.8rem;
    font-weight: bold;
}

.small-text#feedback {
    background-color: transparent;
    margin-bottom: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    padding: 30px 20px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-group-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.form-group-one span {
    color: black;
    font-weight: bold;
    font-size: 1.7rem;
}

.form-group-one p {
    color: var(--color2);
    font-size: 1rem;
}

.form-group-two {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.form-group-two input{
    padding: 9px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 80%;
    
}

.form-group-two button {
    padding: 9px;
    background-color: var(--color1);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.copyright {
    font-size: 0.8rem;
    color: rgb(146, 146, 146);
}



@media (max-width: 1230px) {
    .section-about {
        width: 70vw;
    }

    .stats-list {
        width: 65vw;
    }

    .container-vagas img {
        width: 70vw; 
    }

    .section-feedback {
        width: 70vw;
    }
  
}


@media (max-width: 865px) {

    header {
        justify-content: space-between;
        padding: 0px 20px;
    }

    .menu-nav {
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0px;
        right: -100%;
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
        padding: 40px 0px;
        opacity: 0;
        transition: .3s;
    }

    .menu-nav.abrir-menu {
        right: 0;
        opacity: 1;
    }

    .menu-nav ul {
        flex-direction: column;
    }

    .burger-ico {
        display: flex;
        flex-direction: column;
        gap: 3px;
        cursor: pointer;
        padding: 10px;
        z-index: 1;
        position: relative;
    }

    .burger-ico span {
        width: 20px;
        height: 3px;
        border-radius: 2px;
        background-color: rgb(0, 0, 0);
    }

    .burger-ico.abrir-menu span:nth-child(1){
        position: absolute;
        transform: rotate(45deg);    
    }

    .burger-ico.abrir-menu span:nth-child(2){
        opacity: 0;
    }

    .burger-ico.abrir-menu span:nth-child(3){
        position: absolute;
        transform: rotate(-45deg);
    }

    
    .section-about {
        width: 80vw;
    }

    .about-subtitle {
        font-size: 0.9rem;
    }

    .about-title {
        font-size: 2rem;
    }
    .about-description {
        font-size: 1rem;
    }

    .stats-list {
        width: 90vw; 
        
    }

    .container-vagas img {
        width: 85vw; 
    }

    .section-feedback {
        width: 85vw;
        
    }

    .feedback-container:nth-child(1) p:nth-child(2) {
        font-size: 1.3rem;
    }


}

@media (max-width: 611px) {

    .stats-list {
        text-align: center;  
    }  

    .about-subtitle {
        font-size: 0.8rem;
    }

    .hero-title {
        font-size: clamp(2.2rem, 10vw, 10vw);
    }

    .hero-subtitle {
        font-size: 0.9rem;
    }

    .container-vagas {
        width: 75vw;
    }

    .section-feedback {
        width: 85vw;
        padding: 20px 20px;
    }

    .feedback-container:nth-child(1) p:nth-child(2) {
        font-size: 1.1rem;
    }

}

